---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import BlogPagination from '@/components/BlogPagination'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  return [{ params: { page: undefined } }]
}

const allPosts = await getCollection(
  'blog',
  ({ data }) => !data.draft && !data.hidden,
)

const posts = allPosts.map(post => ({
  id: post.id,
  title: post.data.title,
  description: post.data.description || '',
  date: post.data.date.toISOString(),
  tags: post.data.tags || [],
  image: post.data.image?.src || undefined
}))
---

<Layout title="Blog" description="Blog">
  <Container class="flex grow flex-col gap-y-6">
    <Breadcrumbs
      items={[
        { label: 'Blog', href: '/blog', icon: 'lucide:archive' },
      ]}
    />

    <div class="flex min-h-[calc(100vh-18rem)] flex-col">
      <BlogPagination 
        client:load
        posts={posts}
        itemsPerPage={SITE.POSTS_PER_PAGE}
      />
    </div>
  </Container>
</Layout>
